:root {
    --header-height: 3rem;
    --footer-height: 3rem;
	--main-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    --blue-color: #006c84;
    --white-color: #fff;
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

header {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
}

main {
    height: var(--main-height);
}

#form {
    width: 25%;
    margin: 0 auto;
}

.form-row {
    display: flex;
    gap: 0.6rem;
    padding-top: 1.5rem;
    align-items: center ;
    justify-content: center;
}

.form-row > label {
    width: 5rem;
    font-size: 1.5rem;
    text-align: left;
}

#submit {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

h1, h2 {
    color: var(--white-color);
    font-weight: bold;
}

#weather-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerIcon {
    display: flex;
    gap: 1rem;
}

img {
    height: 4rem;
    width: 4rem;
}

#table-title {
    color:black
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 0.3rem 0.6rem;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    background-color: var(--blue-color);
}
