:root {
    --header-height: 3rem;
    --footer-height: 3rem;
	--main-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    --blue-color: #006c84;
    --white-color: #fff;
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

header {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
}

main {
    height: var(--main-height);
}

#form {
    width: 25%;
    margin: 0 auto;
}

.form-row {
    display: flex;
    gap: 30px;
    padding-top: 1.5rem;
    justify-content: center;
}

.form-row > label {
    font-size: 1.5rem;
    text-align: left;
}



#submit {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

h1, h2 {
    color: var(--white-color);
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    background-color: var(--blue-color);
}
